<md-bottom-sheet class="md-list md-has-header" ng-controller="bottomSheetController as bsc">


    <h4>Please fill in your credentials to log in to the Particle Cloud.</h4>


    <md-list>
        <form>
            <md-input-container flex>
                <label>Email</label>
                <input ng-model="bsc.mail" type="email">
            </md-input-container>

            <md-input-container flex>
                <label>Password</label>
                <input ng-model="bsc.pass" type="password">
            </md-input-container>


            <md-button ng-click="bsc.LoginParticle()" class="md-raised md-primary" style="margin:0px; text-align: center">Log in</button>

        </form>
    </md-list>

</md-bottom-sheet>
